@font-face {
    font-family: 'GothamProLight';
    src: url(../fonts/GothamProLight.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'GothamProBold';
    src: url(../fonts/GothamProBold.otf);
    font-style: normal;
    font-weight: normal;
}
body {
    margin: 0;
/*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'GothamProLight', 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    
}

.wrapper {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    
}
/*
.wrapper::after {
    margin-bottom: -77px;
}
*/
/*--------------------HEADER--------------------*/
.header {
    width: 100%;
    min-height: 76px;
    background-color: #27273e;
    color: #000;
}
.container {
    padding: 0 20px;
    padding-top: 12px;
}
.header__block {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 99px;
    height: 51px;
}
.phone__link {
    font-family: 'GothamProBold', 'Open Sans', sans-serif;
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.shedule__header {
    margin: 0;
    margin-top: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;   
    font-weight: 700;
    color: #5dd1f8;
    text-align: right;
    text-decoration: underline;
}
.shedule__header:hover {
    display: block;
}
.shedule__block {
    display: none;
    width: 200px;
    height: 100px;
    box-shadow: 5px 5px #000;
}
/*--------------------SIDEBAR-------------------------*/
.main__container {
    display: flex;
    text-align: center;
}
.sidebar {
    width: 160px;
    margin-right: 20px;
    margin-left: 20px;
}
.sidebar__list {
    list-style: none;
}

.sidebar__link {
    display: inline-block;
    font-family: 'GothamProBold', 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #221f1f;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 40px;
}
.sidebar__link::before {    
    content: '';
    width: 21px;
    height: 19px;
    background: url(../img/icons_aside.png) no-repeat top center ;
}
/*-----------------MAIN---------------------------*/
.main {
    display: block;
    width: 880px;
    text-align: left;
}
.main__bg {
    margin: 0;
}
.main__img {
    display: block;
    max-width: 1100px;
    height: 354px;
}
.main__img::after {
    content: "";
    display: block;
    background-color: #5dd1f8;
}
.main__head {
    position: relative;
}
.head__text {
    margin: 0;
    position: absolute;
    top: -210px;
    left: 70px;
    color: #ffffff;
    font-family: 'GothamProBold', 'Open Sans', sans-serif;
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
}
.main__text {
    margin-top: 31px;
    width: 681px;
    min-height: 674px;
    color: #221f1f;
    line-height: 30px;
}
.deal {
    font-family: 'GothamProBold', 'Open Sans', sans-serif;
    font-weight: 700;
}
.advantage {
    margin: 0;
    padding-left: 35px;
    list-style: none;
    position: relative;
}
.advantage li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%; 
    background-color: #ec1e79;
    margin-left: -18px;
    margin-top: 12px;
}
.special {
    width: 700px;
    min-height: 113px;
    box-sizing: border-box;
    padding: 20px 59px 16px 30px;
    background-color: #27273e;
    color: #000;
}
.special__text {
    margin: 0;
    color: #fff;
    line-height: 30px;  
}
.special__discount {
    color: #ec1e79;
    font-family: 'GothamProBold', 'Open Sans', sans-serif;
}
/*---------------PARTNERS__BLOCK-------------------*/
.partners {
    width: 700px;
    margin-top: 59px;
}
.partners__head {
    margin: 0;
    margin-left: 4px;
    font-family: 'GothamProBold', 'Open Sans', sans-serif;
    color: #221f1f;
    font-size: 49px;
    text-transform: uppercase;
}
.partners__block {
/*    margin-top: 50px;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}
.partner__item {
    margin-top: 50px;
    max-width: 160px;
    max-height: 62px;
}
.partner__item:nth-child(2) {
    margin-left: 100px;
    margin-right: 100px;
}
/*---------------FOOTER-----------------*/
.footer {
    min-height: 77px;
    background-color: #27273e;
    display: flex;
    margin: 0 auto;
    margin-top: 72px;
    padding-top: 14px;
    width: 1100px;
}
.footer__contacts {
    min-width: 270px;
    margin-left: 20px;
}
.footer__author {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
}
.design__link {
    color: #fff;
    text-decoration: none;
}
.design__link:hover {
    text-decoration: underline;
}
.author__link {
    color: #fff;
    text-decoration: none;
}
.author__link:hover {
    color: yellow;
    font-family: 'GothamProBold', 'Open Sans', sans-serif;
}
.footer__logo {
    max-width: 99px;
    margin-left: 209px;
    margin-right: 302px;
}
.footer__social {
    width: 180px;
}
.social__text {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-family: 'GothamProBold', 'Open Sans', sans-serif;
}
.social__btn {
    display: flex;
    margin-top: 9px;
}
.social__icon {
    display: block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: url(../img/contact-icons.png);
    border-radius: 50%;
}
.icon__vk {
    background-position: left;
}
.icon__fb {
    background-position: -30px;
}
.icon__gplus {
    background-position: -60px;
}
.icon__tw {
    background-position: -90px;
}
.icon__mail {
    background-position: right;
}
.social__icon:hover {
    background-color: #ec1e79;
}